{% extends 'base.html' %}
{% block title %}
  <title>Добавить новое показание счетчика воды</title>
{% endblock %}


{% block content %}
{% load widget_tweaks %}
<h1>Добавить новое показание счетчика воды</h1>


    <form method="POST" class="post-form">{% csrf_token %}
<!--        {{ form.as_p }}-->
        <p><b>Серийный номер: </b>{{ form.serialnumber|attr:"autofocus" }} </p>
        <p><p><b>Дата внесения показаций: </b>{{ form.datedata }}</p>
        <p><p><b>Текущее показание </b>{{ form.consumption }}</p>
        <button type="submit" class="save btn btn-default">Сохранить</button>

        {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

    </form>

{% endblock %}