{% extends 'base.html' %}
{% block title %}
  <title>Добавить новое показание счетчика ЭЭ</title>
{% endblock %}


{% block content %}
{% load widget_tweaks %}

<h1> Показания за период с {{ startdataperiod }} - {{ enddataperiod }} </h1>


    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Сохранить</button>

    </form>


<table cellpadding="4" cellspacing="1">
<tr>
    <td>Участок</td>
    <td>Арендатор</td>
    <td>Номер помещения</td>
    <td>Корпус</td>
    <td>Этаж</td>
    <td>Серийный номер электросчетчика</td>
    <td>Предыдущие показания</td>
    <td>Текущие показания</td>
    <td>Коэф. трансформации</td>
    <td>Коэф. потерь</td>
<td>Тариф ЭЭ</td>

    <td>Есть ЭЭ?</td>
    <td>Арендодатель</td>
    </tr>



    {% for obj in obj %}


    <tr>
        <td>{{ obj.spotelectr }}</td>
        <td>{{ obj.renter }}</td>
        <td>{{ obj.room }}</td>
        <td>{{ obj.room.floor }}</td>
        <td>{{ obj.room.building }}</td>

        <td>{{ obj.electricitymeter }}</td>
        <td>{{ obj.electricitymeter. }}</td>
        <td>{{ enddataperiod }}</td>
        <td>{{ obj.electricitymeter.ratio_transform }}</td>
        <td>{{ obj.electricitymeter.ratio_loss }}</td>
        <td>{{ sumofkilowatt }}</td>
        <td>{{ obj.tarifofelectricity }}</td>
        <td>{{ pk }}</td>

<!--        <td>{{ rentroom.room.floor }}</td>-->
<!--        <td>{{ meter.serialnumber }}</td>-->
<!--        <td>{{ meter.ratio_transform }}</td>-->
<!--        <td>{{ meter.ratio_loss }}</td>-->
<!--        <td>{{ rentroom.tarifofelectricity }}</td>-->
<!--        <td>{{ rentroom.iselectricity }}</td>-->
<!--        <td>{{ rentroom.lessor }}</td>-->
</tr>





    {% endfor %}
    </table>


{% endblock %}